@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: calc(100vh - 12%); /* กำหนดความสูงของ body เท่ากับความสูงของหน้าจอ */
    }

    .video-container {
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* ใช้ space-between เพื่อแบ่งเท่ากันแนวแกนนอน */

    }

    .video-box {
        width: calc(100% - 0.5rem); /* หรือ calc(25% - 0.5rem) หากคุณใช้ 4 คน */
        height: calc(100% - 0.5rem); /* หรือ calc(25% - 0.5rem) หากคุณใช้ 4 คน */
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-duration: 0.5s; /* ระยะเวลาของ animation */
        animation-timing-function: ease-in-out; /* รูปแบบการเคลื่อนไหวของ animation */
    }

    .video-box.fade-in {
        animation-name: fade-in;
    }

    .video-box.fade-out {
        animation-name: fade-out;
    }

    .video-box video {
        max-width: 100%;
        max-height: 100%;
    }

    /* การจัดแสดงตามจำนวนคน */
    .one-person .video-box {
        width: calc(100% - 0.5rem);
        height: calc(100% - 0.5rem);
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    .two-people .video-box {
        width: calc(50% - 0.5rem);
        height: calc(50% - 0.5rem);
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    .three-people .video-box:nth-child(1),
    .three-people .video-box:nth-child(2) {
        width: calc(50% - 0.5rem);
        height: calc(50% - 0.5rem);
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    .three-people .video-box:nth-child(3) {
        width: calc(50% - 0.5rem);
        height: calc(50% - 0.5rem);
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    .four-people .video-box {
        width: calc(50% - 0.5rem);
        height: calc(50% - 0.5rem);
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .video-box:is(.expanded) {
        width: calc(80% - 0.5rem);
        height: calc(70% - 0.5rem);
        z-index: 999; /* ย้ายขึ้นด้านบนเพื่อทับ div อื่น */
        margin: auto; /* จัดตำแหน่งกลางตามแนวแกนนอนและแนวแกนตั้ง */
    }

    /* .video-box:not(.expanded) {
        width: calc(25% - 0.5rem);
        height: calc(25% - 0.5rem);
        margin: auto;
    } */


    .footer {
        margin-top: 0.2rem; /* ระยะห่างระหว่าง footer กับ .video-container */
        border: 1px solid #ccc;
        height: 10%;
        display: flex;
        align-content: center;
        border-radius: 10px;
    }

    .video-box div { /* ตกแต่ง tag ที่คุม ตัว video ที่ agora สร้างมา*/
        border-radius: 10px;
    }

    video{ /* ตกแต่ง tag video ที่ agora สร้างมา*/
        border-color: #000000;
        border-style: solid;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        /* min-width: 100%;
        min-height: 100%; */
        overflow: hidden;
    }

    /* =================ตัว loading animation==================== */
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #2f0cf3;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #1a6ce7 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* ----------------- End ตัว loading animation ----------------- */

    .VoiceLocalEffect{ /* animation ตอนมีคนพูด แสดงบนขอบ div */
        box-shadow: rgb(31, 193, 27) 0px 0px 0px 3px;
        border-radius: 10px;
    }

} /* แท็กปิด PC */




/* =====================================================================================
==================================    สำหรับ มือถือ  ======================================
========================================================================================*/
